@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    font-family: 'inter', sans-serif;
    text-align: center;
    background-color: #91501e14;
    padding: 0px;
    margin: 0px;
    
}


.content{
    position:absolute;
    top: 2rem;
    left: 18rem;
    display: flex;
    flex-direction: column; 
    align-items: start;
    width: 79vw;
}
