<style>
    nav{
        display: flex;
        flex-direction: column;
        background-color: rgb(125, 114, 114);
        width: 20rem;
        height: 100vh;
        position: fixed;
        gap: 1rem;
        padding-top: 2rem;
    }
    a{
        width: 100%;
        padding-block: 1rem;
        text-align: center;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    a:hover{
        background-color: rgb(0, 0, 0, 0.2);
    }
</style>

<nav>
    <h2 >Logo Disini</h2>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
        <a href="">lorem ipsum</a>
</nav>